.host{
    background-color: antiquewhite;
    width: 100%;
    align-items: flex-start;
}

.hostWrapper{
    background-color: azure;
     width: 80%;
    /* height: 10rem;  */
    margin-bottom: 2px;
    justify-content: flex-start;
}
.hostContainer{
    width: 40%;
    justify-content: space-around;
    padding: 1rem;
}
.hostContainer>img{
    width: 20%;
    border-radius: 10px;
    height: 120px;
}
