.van{
    background-color: antiquewhite; 
    padding: 2rem;
    width: 100%;
}
h1{
    margin-left: 38px;
    margin-bottom: 8px;
}
.vanWrapper{
    width: 100%;
    /* background-color: red; */
    background-color: antiquewhite;
    /* height: 67rem; */
    /* background-color: green; */
    justify-content: space-around;    
    flex-wrap: wrap;
   
}
.vanContainer{
    width: 45%;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;    
    font-weight: 600;

    /* height: 300px; */
    /* background-color: red; */
}

a > img{
    border-radius: 10px;
}
a{
    width: 600px;
    /* height: ; */
}
.vanInfo{
    width: 100%;
    justify-content: space-around;
    font-size: 1.4rem;
    gap: 3rem;
    margin-bottom: 2rem;
}

.vanType{
    font-size: 2rem;
    padding: .5rem .9rem;
    border-radius: 20px;
    color: whitesmoke;
    font-weight: 600;
}
.simple{
    background-color: orange;
}
.rugged{
    background-color: rgb(20, 52, 20);
}
.luxury{
    background-color: black;
}
.selected{}

@media (max-width:850px) {
    a{
        width: 200px;
    }
}