/* .vanDetailsContainer{
    background-color: rgb(250, 215, 215);
    width: 100%;
    margin-bottom: 0;
    justify-content: center;
} */

.vanDetail{
    width: 40%;
    background-color: whitesmoke;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
}

.price{
    font-weight: bold;

}
.day{
    font-weight: 400;
}
.linkButton{
    width: 90%;
    font-size: 1.2rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    margin-top: 2rem;
}

.linkButton:hover{
    cursor: pointer;
}