*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondaryColor{
  background-color: antiquewhite;
}
.flexColStart{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

